In [ ]:
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="cheese board" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Chess </title>
    <style>
        body{
            background: rgb(255, 1, 1);
        }
        h1{
            color:rgb(67, 168, 236);
            font-family: sans-serif;
            text-align: center;
            font-size: 4em;
        }
        table td{
            width: 90px;
            height: 90px;
            background:whitesmoke;
            line-height: 90px;
            text-align: center;
            border:1px solid rgb(253, 0, 0);
        }
        .siyah{
            background: #0a0a0a88;
            
        }
    </style>
</head>
 
<body>
 
    <h1>Chess Table</h1>
    <table>
        <tr>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
        </tr>
        <tr>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
        </tr>
        <tr>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
            <td class="siyah"></td>
            <td></td>
        </tr>
    </table>
</body>
</html>